@charset "UT8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to right, #f3d5c3,#e7c490 );
}

main {
    background-color: #b4e1ffa2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ca7b3a80; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #ca7b3a;
    text-align: center;
    text-shadow: 1px 1px 2px #3f2511b4;
}

h2 {
    color: rgba(24, 24, 119, 0.808);
}

p{
    text-align: justify;
}